{
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "eslint-plugin-tsdoc",
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "oclif",
    "oclif-typescript",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "node/no-extraneous-require": "warn",
    "tsdoc/syntax": "warn",
    "valid-jsdoc": "off"
  }
}
